<header class="header">
    <div class="header__logo">
        <img class="header__image" src="../../assets/dali-juarez-logo.svg" alt="logo-dali-juarez">
    </div>
    <div class="header__content">
        <ul class="header__content-list">
            <li class="header__content-items">
                <a class="header__content-links" (click)="scrollToSection('about')">about</a>
              </li>
              <li class="header__content-items">
                <a class="header__content-links" (click)="scrollToSection('portfolio')">portfolio</a>
              </li>
        </ul>
    </div>
</header>