<div id="about" class="about__container" #aboutSection>
  <div class="about__content">
    <h2 class="about__content-title">Dalí Juárez</h2>
    <h3 class="about__content-subtitle">Web Developer</h3>
    <p class="about__content-paragraph">
      Construyo productos y experiencias digitales accesibles e inclusivos para
      la web.
    </p>
    <div class="about__content-resumen">
      A finales del <strong>2017</strong>, comence trabajando en Interfell como
      vendedor y tratando con clientes en el mundo de la tecnología.
      <br />
      <br />
      Trabajé para varios clientes del sector IT, lo que me permitió conocer en
      profundidad las tecnologías web y lo que se utilizaba en ese entonces. Con
      gran pasión por aprender, tomé la iniciativa y le pedí a mi jefe de
      entonces la oportunidad de dedicarme a desarrollar y aprender. Así,
      comencé como soporte técnico y luego fui incluido en el equipo de
      desarrollo.
      <br />
      <br />
      Hoy en día, estoy creciendo como web developer y pronto seré un mobile
      developer. Estoy emocionado de seguir aprendiendo y creciendo en el mundo
      de la tecnología.
    </div>
  </div>
  <div class="about__timeline">
    <div class="about__timeline-entry">
      <a class="about__timeline-links" target="_blank" href="https://www.roiback.com/">
        <h2 class="about__timeline-date">2018 - 2020</h2>
        <h3 class="about__timeline-company">Roiback</h3>
        <div class="about__timeline-content">
          <h2 class="about__timeline-title">Web Developer / Front-End</h2>
          <p class="about__timeline-description">
            Como desarrollador front-end en Roiback, mi trabajo a tiempo
            completo se enfoca en la creación de páginas web corporativas e
            individuales para hoteles en todo el mundo.
          </p>
          <div class="about__timeline-technology">
            <ul class="technology__list">
              <li class="technology__item">HTML SCSS JS</li>
              <li class="technology__item">Docker</li>
              <li class="technology__item">Django templates</li>
              <li class="technology__item">Gitlab</li>
            </ul>
          </div>
        </div>
      </a>
    </div>
    <div class="about__timeline-entry">
      <a class="about__timeline-links" target="_blank" href="https://www.interfell.com/">
        <h2 class="about__timeline-date">2018 - 2020</h2>
        <h3 class="about__timeline-company">Interfell</h3>
        <div class="about__timeline-content">
          <h2 class="about__timeline-title">Web Developer / Front-End</h2>
          <p class="about__timeline-description">
            Trabajé como desarrollador de frontend a tiempo completo de enero de
            2020 a noviembre de 2021, durante 1 año y 11 meses de forma remota.
            Mis responsabilidades incluían el desarrollo de landing pages, la
            conexión y configuración de API's, ser webmaster.
          </p>
          <div class="about__timeline-technology">
            <ul class="technology__list">
              <li class="technology__item">HTML SCSS JS</li>
              <li class="technology__item">Angular 11</li>
              <li class="technology__item">TS</li>
              <li class="technology__item">Git</li>
            </ul>
          </div>
        </div>
      </a>
    </div>
    <div class="about__timeline-entry">
      <a class="about__timeline-links" target="_blank" href="https://www.interfell.com/">
        <h2 class="about__timeline-date">2018 - 2020</h2>
        <h3 class="about__timeline-company">Interfell</h3>
        <div class="about__timeline-content">
          <h2 class="about__timeline-title">Support</h2>
          <p class="about__timeline-description">
            Trabajé en soporte interno a tiempo completo de enero de 2020 a
            noviembre de 2021, durante 1 año y 11 meses de forma remota. Mis
            responsabilidades incluían atender al equipo interno de la empresa,
            adquirir y configurar aplicaciones para el equipo, así como crear
            bootcamps y utilizar herramientas.
          </p>
          <div class="about__timeline-technology">
            <ul class="technology__list">
              <li class="technology__item">Google Workspace</li>
              <li class="technology__item">Hubspot</li>
              <li class="technology__item">Zoho CRM</li>
              <li class="technology__item">Slack</li>
            </ul>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
