<div class="about__container">
  <div class="about__content">
    <h2 class="about__content-title">Dalí Juárez</h2>
    <h3 class="about__content-subtitle">Web Developer</h3>
    <p class="about__content-paragraph">
      Construyo productos y experiencias digitales accesibles e inclusivos para
      la web.
    </p>
  </div>
  <div class="about__timeline">
    <div class="about__timeline-resumen">
      A finales del <strong>2017</strong>, comence trabajando en Interfell como vendedor y tratando con clientes en el
      mundo de la tecnología.
      <br>
      <br>
      trabajé para varios clientes del
      sector IT, lo que me permitió conocer en profundidad las tecnologías web y
      lo que se utilizaba en ese entonces. Con gran pasión por aprender, tomé
      la iniciativa y le pedí a mi jefe de entonces la oportunidad de dedicarme
      a desarrollar y aprender. Así, comencé como soporte técnico y luego fui
      incluido en el equipo de desarrollo.
      <br>
      <br>
      Hoy en día, estoy
      creciendo como web developer y pronto seré
      un mobile developer. Estoy emocionado de seguir aprendiendo y
      creciendo en el mundo de la tecnología.
    </div>
    <div class="about__timeline-entry">
        <a class="about__timeline-links" href="">
          <h2 class="about__timeline-date">2018 - 2020</h2>
          <h3 class="about__timeline-company">Interfell</h3>
          <div class="about__timeline-content">
            <h2 class="about__timeline-title">Support</h2>
            <p class="about__timeline-description">
              Me uní a una empresa de software como desarrollador full-stack, donde
              trabajé en varios proyectos importantes, incluyendo una aplicación de
              gestión de tareas y un sistema de comercio electrónico. Durante este
              tiempo, aprendí muchas nuevas tecnologías y mejoré mis habilidades de
              programación.
            </p>
          </div>
        </a>
    </div>
  </div>
</div>
