<footer class="footer">
    <div class="footer__content">
        <div class="footer__social">
            <ul class="social__list">
                <li class="social__item">
                    <a href="https://github.com/d4l1"><i class="social__link fab fa-github"></i></a>
                </li>
                <li class="social__item">
                    <a href="https://www.instagram.com/dalijuarez/"><i class="social__link fab fa-instagram"></i></a>
                </li>
                <li class="social__item">
                    <a href="https://www.linkedin.com/in/dali-juarez/"><i class="social__link fab fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>