<footer class="footer">
    <div class="footer__content">
        <div class="footer__social">
            <ul class="social__list">
                <li class="social__item">
                    <a href="https://github.com/d4l1" class="social__link fab fa-github"></a>
                </li>
                <li class="social__item">
                    <a href="https://www.instagram.com/dalijuarez/" class="social__link fab fa-instagram"></a>
                </li>
                <li class="social__item">
                    <a href="https://www.linkedin.com/in/dali-juarez/" class="social__link fab fa-linkedin"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>