// Azul principal
$main-color: #003f5c;

// Tonalidades de azul
$blue-100: #b3d4e7;
$blue-900: #001824;

// Colores de texto
$light-color: #f9f9f9;
$extra-light-color: #fff;
$dark-color: #000;

// text

$title-font: 2.125rem 'Open Sans', sans-serif;
$subtitle-font: 1.125rem 'Open Sans', sans-serif;
$paragraph-font: .8rem 'Open Sans', sans-serif;

