<section class="portfolio__container">
  <div class="portfolio__content">
    <ul class="portfolio__list">
      <li class="portfolio__item">
        <div class="portfolio__card">
          <img
            src="https://dummyimage.com/250x250/000/fff"
            alt="image"
            class="portfolio__image"
          />
          <div class="portfolio__titles">
            <h2 class="portfolio__title">titulo</h2>
            <h3 class="portfolio__tech">react</h3>
          </div>
          <p class="portfolio__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            officia vero quaerat est voluptatibus id cum maxime eos facere
            velit, possimus earum. Fugit tempora assumenda incidunt sapiente
          </p>
          <a href="" class="portfolio__link"> ver mas</a>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="portfolio__card">
          <img
            src="https://dummyimage.com/250x250/000/fff"
            alt="image"
            class="portfolio__image"
          />
          <div class="portfolio__titles">
            <h2 class="portfolio__title">titulo</h2>
            <h3 class="portfolio__tech">react</h3>
          </div>
          <p class="portfolio__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            officia vero quaerat est voluptatibus id cum maxime eos facere
            velit, possimus earum. Fugit tempora assumenda incidunt sapiente
          </p>
          <a href="" class="portfolio__link"> ver mas</a>
        </div>
      </li>
    </ul>
  </div>
</section>
